In [11]:
# %pip install langchain_community
%pip install pandas

Collecting pandas
  Downloading pandas-2.2.1-cp311-cp311-win_amd64.whl (11.6 MB)
                                              0.0/11.6 MB ? eta -:--:--
                                              0.0/11.6 MB ? eta -:--:--
                                             0.0/11.6 MB 262.6 kB/s eta 0:00:45
                                             0.1/11.6 MB 363.1 kB/s eta 0:00:32
                                             0.1/11.6 MB 476.3 kB/s eta 0:00:25
                                             0.2/11.6 MB 612.6 kB/s eta 0:00:19
                                             0.3/11.6 MB 947.5 kB/s eta 0:00:12
     -                                        0.5/11.6 MB 1.3 MB/s eta 0:00:09
     --                                       0.7/11.6 MB 1.9 MB/s eta 0:00:06
     ----                                     1.2/11.6 MB 2.8 MB/s eta 0:00:04
     ------                                   1.9/11.6 MB 4.1 MB/s eta 0:00:03
     ----------                               3.1/11.6 MB 6.1 MB/s eta 0:00:02
     --------------                           4.1/11.6 MB 7.3 MB/s eta 0:00:02
     -----------------                        5.2/11.6 MB 8.5 MB/s eta 0:00:01
     ------------------------                 7.1/11.6 MB 10.8 MB/s eta 0:00:01
     ----------------------------------      10.3/11.6 MB 18.2 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 36.4 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 36.4 MB/s eta 0:00:01
     --------------------------------------  11.6/11.6 MB 36.4 MB/s eta 0:00:01
     --------------------------------------- 11.6/11.6 MB 22.6 MB/s eta 0:00:00
Requirement already satisfied: numpy<2,>=1.23.2 in c:\python311\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sheol\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2024.1-py2.py3-none-any.whl (505 kB)
                                              0.0/505.5 kB ? eta -:--:--
     ------------------------------------  501.8/505.5 kB 32.8 MB/s eta 0:00:01
     ------------------------------------  501.8/505.5 kB 32.8 MB/s eta 0:00:01
     -------------------------------------- 505.5/505.5 kB 5.3 MB/s eta 0:00:00
Requirement already satisfied: tzdata>=2022.7 in c:\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, pandas
Successfully installed pandas-2.2.1 pytz-2024.1
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.1.2 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [ ]:
from langchain_community.llms import Ollama

In [8]:
llm = Ollama(model="gemma")
llm.invoke("1+1 = ?")

'1+1 = 2. It is the sum of two 1s.'

In [18]:
llm.invoke("Can you add an appropriate category next to each of the following expenses. Respond with a list of categories separated by commas. For example, Spotify AB by Adyen - \
Entertainment, Beta Boulders Ams Amsterdam Nld - Sports, etc.: \
Taxi Utrecht, Ministerie van Justitie en Veiligheid, Etos AMSTERDAM NLD, Bistro Bar Amsterdam")

"Sure, here's the list you requested:\n\n- Taxi Utrecht\n- Ministerie van Justitie en Veiligheid\n- Etos AMSTERDAM NLD\n- Bistro Bar Amsterdam"

### Read transaction data

In [12]:
# Read the transactions_2022_2023.csv file 
import pandas as pd
df = pd.read_csv("transactions_2022_2023.csv")
df.head()

         Date        Name / Description Expense/Income  Amount (EUR)
0  2023-12-30           Belastingdienst        Expense          9.96
1  2023-12-30               Tesco Breda        Expense         17.53
2  2023-12-30   Monthly Appartment Rent        Expense        451.00
3  2023-12-30  Vishandel Sier Amsterdam        Expense         12.46
4  2023-12-29         Selling Paintings         Income         13.63

In [13]:
# Get unique transactions in the Name / Description column
unique_transactions = df["Name / Description"].unique()
len(unique_transactions)

23

In [14]:
unique_transactions[1:10]

array(['Tesco Breda', 'Monthly Appartment Rent',
       'Vishandel Sier Amsterdam', 'Selling Paintings',
       'Spotify Ab By Adyen', 'Tk Maxx Amsterdam Da', 'Consulting',
       'Aidsfonds', 'Tls Bv Inz Ov-Chipkaart'], dtype=object)

### Categorise bank transactions with Llama2

In [15]:
# Get index list
#https://stackoverflow.com/questions/47518609/for-loop-range-and-interval-how-to-include-last-step
def hop(start, stop, step):
    for i in range(start, stop, step):
        yield i
    yield stop

index_list = list(hop(0, len(unique_transactions), 30))
index_list

[0, 23]

In [16]:
def categorize_transactions(transaction_names, llm):
    response = llm.invoke("Can you add an appropriate category to the following expenses. For example: Spotify AB by Adyen - Entertainment, Beta Boulders Ams Amsterdam Nld - Sport, etc.. Categories should be less than 4 words. " + transaction_names)
    response = response.split('\n')

    print(response)

    # Put in dataframe
    categories_df = pd.DataFrame({'Transaction vs category': response})
    categories_df[['Transaction', 'Category']] = categories_df['Transaction vs category'].str.split(' - ', expand=True)
    
    return categories_df

In [17]:
# Test out the function
categorize_transactions('ISS Catering Services De Meern, Taxi Utrecht, Etos AMSTERDAM NLD, Bistro Bar Amsterdam',
                        llm)

['Sure, here are the categories you requested:', '', '- Music & Entertainment', '- Transportation', '- Dining & Restaurant', '- Events']

ValueError: Columns must be same length as key

In [ ]:
# Intialise the categories_df_all dataframe
categories_df_all = pd.DataFrame()

# Loop through the index_list
for i in range(0, len(index_list)-1):
    transaction_names = unique_transactions[index_list[i]:index_list[i+1]]
    transaction_names = ','.join(transaction_names)

    categories_df = categorize_transactions(transaction_names, llm)
    categories_df_all = pd.concat([categories_df_all, categories_df], ignore_index=True)

In [ ]:
categories_df_all

In [ ]:
# categories_df_all.to_csv("categories_df_all.csv", index=False)

In [ ]:
# Get unique categories in categories_df_all
unique_categories = categories_df_all["Category"].unique()
unique_categories

In [ ]:
# Drop NA values
categories_df_all = categories_df_all.dropna()

# If category contains "Food", then categorise as "Food and Drinks"
categories_df_all.loc[categories_df_all['Category'].str.contains("Food"), 'Category'] = "Food and Drinks"
# If category contains "Clothing", then categorise as "Clothing"
categories_df_all.loc[categories_df_all['Category'].str.contains("Clothing"), 'Category'] = "Clothing"
# If category contains "Services", then categorise as "Services"
categories_df_all.loc[categories_df_all['Category'].str.contains("Services"), 'Category'] = "Services"
# If category contains "Health" or "Wellness", then categorise as "Health and Wellness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Health|Wellness"), 'Category'] = "Health and Wellness"
# If category contains "Sport", then categorise as "Sport
#  and Fitness"
categories_df_all.loc[categories_df_all['Category'].str.contains("Sport"), 'Category'] = "Sport and Fitness"
# If category contains "Travel", then categorise as "Travel"
categories_df_all.loc[categories_df_all['Category'].str.contains("Travel"), 'Category'] = "Travel"

In [ ]:
# Remove the numbering eg "1. " from Transaction column
categories_df_all['Transaction'] = categories_df_all['Transaction'].str.replace(r'\d+\.\s+', '')
categories_df_all

In [ ]:
# Merge the categories_df_all with the transactions_2022_2023.csv dataframe (df)
df = pd.read_csv("transactions_2022_2023.csv")
df.loc[df['Name / Description'].str.contains("Spotify"), 'Name / Description'] = "Spotify Ab By Adyen"
df = pd.merge(df, categories_df_all, left_on='Name / Description', right_on='Transaction', how='left')
df

In [ ]:
df.to_csv("transactions_2022_2023_categorized.csv", index=False)